<div class="booking_container">
    <div class="booking_padding">
        <div class="booking_chat">
            <div class="space_name">
                <p>STORE NAME</p>
            </div>
            <div class="space_content">
                <% @list.each do |p| %>
                    <h1><%=p.id%></h1> 
                    <h1><%=p.created_at%></h1>
                <% end %>
            </div>
        </div>
    </div>
</div>
<style>
    *{
        box-sizing: border-box;
    }
    html,body{
        margin: 0;
        padding: 0;
        height: 100%;
    }
    #wrapper{
        height: 100%;
    }
    .booking_container{
        height: 100%;
        color: #000;
        background-color: #f9f9fb;
    }
    .booking_padding{
        padding-left: 10%;
        padding-right: 10%;
        height: 100%;
    }
    .booking_chat{
        height: 100%;
    }
    .space_name{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        padding: 10%;
    }
    .space_content p{
        color:grey;
    }
</style>