<!-- Banner -->
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>Hi, my name is Forty</h1>
    </header>
    <div class="content">
      <p>A responsive site template designed by HTML5 UP<br/>
        and released under the Creative Commons.</p>
      <ul class="actions">
        <li>
          <a href="#one" class="button next scrolly">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</section>
