<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <ul class="icons">
      
      <li>
        <a href="https://www.facebook.com/likelionKangnam/"  target="_blank" class="icon alt fa-facebook">
          <span class="label">Facebook</span>
        </a>
      </li>
      
      <li>
        <a href="https://github.com/likesoomti/pickpick"  target="_blank" class="icon alt fa-github">
          <span class="label">GitHub</span>
        </a>
      </li>
      
    </ul>
    <ul class="copyright">
      <li>&copy; Spacepick</li>
      <li>
        <a href="https://www.facebook.com/likelionKangnam/" >LIKELION at KNU</a>
      </li>
    </ul>
  </div>
</footer>
