<div class="d-flex justify-content-center">
<div class="rev_container">
<center><h1>새로운 예약</h1></center>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Back', reservations_path %>
</div>
</div>
<style>
    .rev_container{
        padding: 5%;
        justify-content: center;
    }
</style>