<div class="add_info_container">
    <div class="ui middle aligned center aligned grid nicForm">
        <div class="column nicColumn">
            <%= render 'user/common_info' %>
        </div>
    </div>
</div>
<style>
.add_info_container{
    width: 55%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
</style>