<div class="ui middle aligned center aligned grid nicForm">
    <div class="column nicColumn">
        <h2 class="ui orange image header nicImage">
            <div class="content">
              추가 정보입력
            </div>
        </h2>
        <%= render 'user/common_info' %>
    </div>
</div>