<!-- Main -->
<div id="main">
	<!-- Two -->
	<section id="two">
		<div class="inner">
			<header class="major">
				<h2>Space Pick</h2>
			</header>
	
				
			<ul class="actions">
				<li>	

					
					<center><a href="/main">GO!</a></center>

					<% if(current_user) %>
						<div class="button"><%= current_user.email %></div>

					<% else %>
						<a href="<%= new_user_session_path %>" class="button next">Login</a>
					<% end %>
				</li>
			</ul>
		</div>
	</section>
</div>

<style>

#main{
	height: 100%;
}
section{
	height: 100%;
}
#two{
	display: flex;
	justify-content: center;
}
div.inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>