<!-- Main -->
<div id="main">
	<!-- Two -->
	<section id="two">
		<div class="inner">
			<header class="major">
				<h2>Space Pick</h2>
			</header>
	
				
			<ul class="actions">
				<li>	
					<% if(@user) %>
					<div class="button"><%= @user.email %></div>
					<% else %>
						<a href="<%= new_user_session_path %>" class="button next">Login</a>
					<% end %>
				</li>
			</ul>
		</div>
	</section>
</div>

<style>
#main{
	height: 100%;

}
section{
	height: 100%;
}
#two{
	display: flex;
	justify-content: center;
}
div.inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>