<!-- link list -->
<div id="main">
    <div class="manager Aliquam">
        <div class="link">
            <h3>예약하기</h3>
        </div>
        <div class="content">
          <ul class="actions">
            <li>
              <%= link_to "Booking", admin_booking_path ,:class => "button next" %>
            </li>
          </ul>
        </div>
    </div>
    <div class="manager Mango">
        <div class="link"><h3> 예약 내역 확인</h3></div>
        <div class="content">
            <ul class="actions">
              <li>
                <%= link_to "history",admin_rev_history_path,:class => "button next" %>
              </li>
            </ul>
        </div>
    </div>
</div>
<style>
    html,body{
        height: 100%;
    }
    #wrapper{
        height: 100%;
    }
    #main{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .manager{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Mango{
        background-color: #CE716B
    }
    .Aliquam{
        background-color: #63ACC9
    }
    .Etiam{
        background-color: #6CA487
    }
</style>